<section class="flex flex-col text-center items-center">
  <div
    class="w-full flex flex-col flex-wrap items-center overflow-hidden justify-center h-screen gap-3 slide-in-fwd-center"
  >
    <div class="img-contain h-96">
      <img src="./assets/undraw_Empty_re_opql.png" alt="" class="img h-full" />
    </div>
    <h1 class="heading md">Ooops!!!</h1>
    <p class="body text-lg p-3">THAT PAGE DOESN'T EXIST OR IS UNAVAILABLE</p>
    <button mat-raised-button color="primary" (click)="location.back()">
      Go Back
    </button>
  </div>
</section>
