.content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr;
    height: 100vh;
  }
  .content > *:nth-child(1) {
    height: fit-content;
  }
  .content > *:nth-child(2) {
    height: fit-content;
  }
  .content > *:nth-child(3) {
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  .icon.auto {
    width: min(15em, 100%);
    height: min(2.5em, 100%);
  }
 