@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

:root {
  --primary-color: #1a548a;
  --secondary-color: #4d8ad9;
  --error-color: #d55656;
  --success-color: #58cd80;
}
/* width */
::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d8ad952;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d8ad952;
}

.bg-primary {
  background-color: var(--primary-color);
}

input:focus {
  border: 1px solid #4693da;
}

.router-link-active {
  background-color: #1a548a;
  color: white;
}

.error-snackbar {
  background-color: var(--error-color);
  color: #ffffff;
}
.error-snackbar .mat-simple-snackbar-action {
  color: #ffffff;
}

.success-snackbar {
  background-color: var(--success-color);
  color: #ffffff;
}
.success-snackbar .mat-simple-snackbar-action {
  color: #ffffff;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}
